$colorPricipal: #61b160;
$color: #61b160;

nav{
   background-color: $colorPricipal;
   font-family: 'Bebas Neue', cursive;
   ul{
       text-align: center;
     li{
         a:hover{
             background-color: #0ccf67;
         }
     }
   }
   
}

header{
    background-color:#108447 ;
    text-align: center;
    height: 200px;
}

.headerpadre{
    position: relative;

    
}

.headerimagen img{
     height: 50px;
     margin: 60px;
}

footer{
    background-color: $colorPricipal;
}

.footer1{
    text-align: center;
    margin-left: 20px;
}

.footer2{
    text-align: center;
}

.icons{
    text-align: center;
}

.lagiladapodre{
    position: relative;
}

.lagiladahijo{
    height: 30px;
}

.lagiladahijo img{
    height: 30px;
}

h1{
    @if $color == red{

        color: $color;
        font-size: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;




    }

    @else if $color == blue{
        color: $color;
        font-size: 50px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }

    @else{
        color:green;
        font-size: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}